@page
@model TimelessTapes.Pages.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Login";
}

<h2>User Login</h2>

<form method="post">
    <div>
        @Html.AntiForgeryToken()
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" class="form-control" />
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <button type="submit">Login</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}
